html,
body {
	padding: 0;
	margin: 0;
	color: var(--black);
	background: #F5F6F8;
	font-family: "Ubuntu", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--gray-light: #EBEBEB;
	--gray:  #A4A4A4;
	--gray-dark: #787D85;
	--primary: #7653FC;
	--primary-hover: #2F21A0FF;
	--red: #FC836D;
	--light-red: #FEA291;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Ubuntu", sans-serif;
}
